<link href="/static/css/styles.css" rel="stylesheet">
<link href="/static/css/bootstrap.css" rel="stylesheet">
<link href="/static/css/fontawesome-all.min.css" rel="stylesheet">
<link href="/static/css/heroic-features.css" rel="stylesheet">

<%- include('navbar') %>
<div class="container jumbotron my-3 text-danger">
    <h1 class="p-0 display-4">
        Error <%= data.error %>
    </h1>

    <% if (data.error == 404) { %>
        <div class="row my-3">
            <h4 class="col-5">
                <%= data.errorMessage %>: <code><%= data.url %></code>
            </h4>
            <a href="/" class="col-3 btn btn-primary btn-lg px-3">Back to main page</a>
            <div class="col"></div>
        </div>
        <img src="../static/img/404.png" alt="" id="bg" class="img-fluid rounded">

    <% } %>


</div>
<%- include('footer') %>