<!-- <nav aria-label="Page navigation" class=" my-3">
    <ul class="pagination justify-content-center pagination-lg">
        <li class="col-2 page-item <%= (data.page == 1 ? 'invisible' : '') %>">
            <button class="btn btn-lg btn-success" id="button-search" onclick="search(<%= (Number(data.page) - 1) %>)">
                <i class="fas fa-fw fa-arrow-left text-white"></i>
            </button>
        </li>

        <li class="col-4 page-item">
            <div class="page-link active text-center py-0 px-3">
                <small class="text-success text-center">
                    Page
                    <%= data.page %> of
                        <%= (Math.ceil(data.total / 8)) %>
                </small>
                <br>
                <small class="text-success text-center">
                    Items
                    <%= ((data.page-1)*8 + 1) %> to
                        <%= (data.total < data.page*8 ? data.total : data.page*8) %>
                </small>
            </div>
        </li>

        <li class="col-2 page-item <%= (data.page*8 >= data.total ? 'invisible' : '') %>">
            <button class="btn btn-lg btn-success" id="button-search" onclick="search(<%= (Number(data.page) + 1) %>)">
                <i class="fas fa-fw fa-arrow-right text-white"></i>
            </button>
        </li>
    </ul>
</nav> -->

<!-- <div class="row text-center">
    <div class="col"></div>
    <div class="row col-6">

        <div class="col-3 <%= (data.page == 1 ? 'invisible' : '') %>">
            <button class="btn btn-lg btn-success" onclick="search(<%= (Number(data.page) - 1) %>)">
                <i class="fas fa-fw fa-arrow-left text-white"></i>
            </button>
        </div>
        <div class="col-6">

            <div class="btn btn-lg btn-success">
                <small>
                    Page
                    <%= data.page %> of
                        <%= (Math.ceil(data.total / 8)) %>
                </small>
                <br>
                <small>
                    Items
                    <%= ((data.page-1)*8 + 1) %> to
                        <%= (data.total < data.page*8 ? data.total : data.page*8) %>
                </small>
            </div>

        </div>
        <div class="col-3 <%= (data.page*8 >= data.total ? 'invisible' : '') %>">
            <button class="btn btn-lg btn-success" onclick="search(<%= (Number(data.page) + 1) %>)">
                <i class="fas fa-fw fa-arrow-right text-white"></i>
            </button>
        </div>
    </div>
    <div class="col"></div>
</div> -->



<nav aria-label="Results navigation">
    <ul class="pagination pagination justify-content-center mt-2">
        <li class="page-item <%= (data.page == 1 ? 'disabled' : '') %>">
            <div id="button-prev" class="page-link" onclick="search(<%= (Number(data.page) - 1) %>)" tabindex="-1">
                <i class="fas fa-fw fa-arrow-left"></i>
            </div>
        </li>
        <li class="page-item">
            <div class="page-link text-center">
                <small>
                    Page <strong><%= data.page %></strong> of <strong><%= (Math.ceil(data.total / data.resultsPerPage)) %></strong>
                </small>
                <!-- <small>
                    Items
                    <%= ((data.page-1)*8 + 1) %> to
                        <%= (data.total < data.page*8 ? data.total : data.page*8) %>
                </small> -->
            </div>
        </li>
        <li class="page-item <%= (data.page*8 >= data.total ? 'disabled' : '') %>">
            <div id="button-next" class="page-link" onclick="search(<%= (Number(data.page) + 1) %>)">
                <i class="fas fa-fw fa-arrow-right"></i>
            </div>
        </li>
    </ul>
</nav>
