<nav aria-label="Results navigation">
    <ul class="pagination pagination justify-content-center mt-2">
        <li class="page-item <%= (data.page == 1 ? 'disabled' : '') %>">
            <div id="button-prev" class="page-link" onclick="search(<%= (Number(data.page) - 1) %>)" tabindex="-1">
                <i class="fas fa-fw fa-arrow-left"></i>
            </div>
        </li>
        <li class="page-item">
            <div class="page-link text-center">
                <small>
                    Page <strong><%= data.page %></strong> of <strong><%= (Math.ceil(data.total / data.resultsPerPage)) %></strong>
                </small>
            </div>
        </li>
        <li class="page-item <%= (data.page*8 >= data.total ? 'disabled' : '') %>">
            <div id="button-next" class="page-link" onclick="search(<%= (Number(data.page) + 1) %>)">
                <i class="fas fa-fw fa-arrow-right"></i>
            </div>
        </li>
    </ul>
</nav>
