<p class="lead text-success lead text-center">Showing <%= data.items %> results of <%= data.total %></p>

<div class="row" id="card-container">
<% for(var i=0; i < data.items; i++) { %>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card">
            <img class="card-img-top" src="<%= (data.artworks[i].thumbnailUrl || '/static/img/missing.png') %>" alt="">
            <div class="card-body">
                <h5 class="card-title"><%= data.artworks[i].title %></h5>
                <p class="card-text text-muted text-right blockquote-footer"><%= data.artworks[i].artist %></p>
                <p class="card-text"><%= data.artworks[i].medium %></p>
            </div>
            <div class="card-footer text-right">
                <p class="float-left text-success align-middle"> &euro;19.95</p>
                <a href="#" class="btn btn-outline-primary">Add to cart</a>
            </div>
        </div>
    </div>
<% } %>
</div>

<nav aria-label="Page navigation example" class=" my-3">
    <ul class="pagination justify-content-center">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#">Next</a>
        </li>
    </ul>
</nav>

<br>