<% if (data.message) { %>
    <p class="lead text-<%= data.type %> lead text-center">
        <%= data.message %>
    </p>
    <% } else if (data.items > 0)  { %>


        <%- include('pagination') %>



            <p class="text-primary text-center">
                <small>
                    Showing items <%= ((data.page-1) * data.items + 1) %> to <%= (data.total < data.page * data.items ? data.total : data.page * data.items) %> (<%= data.total %> total results)
                </small>
            </p>
            <br>
            <% } else if (data.query != '') { %>



                <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong><%= data.query %>:</strong> No results found
                </div>

            <% } %>


                    <div class="row" id="card-deck">
                        <% for(var i=0; i < data.items; i++) { %>
                            <div class="col-lg-2 col-md-6 mb-4">
                                <div class="card unselectable" id="card-<%= data.artworks[i].id %>">
                                    <img class="card-img-top" src="<%= (data.artworks[i].thumbnailUrl || '/static/img/missing.png') %>" alt="">
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= (data.artworks[i].title || 'No title') %>
                                        </h5>
                                        <p class="card-text text-muted text-right blockquote-footer">
                                            <%= data.artworks[i].artist %>
                                        </p>
                                        <p class="card-text">
                                            <%= data.artworks[i].medium %>
                                        </p>
                                    </div>
                                    <p class="text-success align-middle text-right mr-3"> &euro;19.95</p>
                                    <span class="card-footer row mx-0 px-2 justify-content-center">

                                            <nav aria-label="Results navigation">
                                                <ul class="pagination pagination-sm justify-content-center mt-2 ">
                                                    <li id="btn-minus-<%= data.artworks[i].id %>"class="page-item disabled ">
                                                        <div class="page-link quantity-control bg-danger text-white" >
                                                            <i class="fas fa-minus "></i>
                                                        </div>
                                                    </li>
                                                    <li class="page-item">
                                                        <div id="quantity-<%= data.artworks[i].id %>"class="page-link text-center px-2 bg-light text-dark">
                                                            1
                                                        </div>
                                                    </li>
                                                    <li id="btn-plus-<%= data.artworks[i].id %>"class="page-item">
                                                        <div class="page-link quantity-control bg-success text-white">
                                                            <i class="fas fa-plus"></i>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </nav>


                                        <span class="col-6 m-0 p-0 float-right">
                                            <button id="add-cart-<%= data.artworks[i].id %>" class="btn btn-sm btn-outline-primary h-75 ml-4">
                                                <i class="fas fa-cart-plus"></i> <small>Add to cart</small></button>
                                        </span>

                                    </span>
                                </div>
                            </div>
                            <% } %>
                    </div>

                    <% if (data.items > 0) { %>
                        <%- include('pagination') %>
                            <% } %>

                                <br>
                                <br>