<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHOP!</title>
</head>

<body>
    <!-- <nav>
        <ul id="menu">
            <li>LOGO</li>
            <li>Artists</li>
            <li>Artwork</li>
            <li>SHOP</li>
        </ul>
    </nav> -->
    <%- include('partials/navbar') %>

        <div class="container">
            <img src="../static/img/bg_museum.jpg" alt="" id="bg">
            <h1>API Test</h1>

            <div class="col-2">
                <form action="/api/artists" method="get" id="artistsearch" class="tate-form" autocomplete="off">
                    <h2>Artist search</h2>
                    <div></div>
                    <label for="artist-name">Artist ID </label><input type="text" id="artist-id" name="id">
                    <!-- <label for="artist-gender">Gender </label><input type="gender" id="artist-gender" name="gender"> -->
                    <div></div> <input type="submit" id="artistsubmit" value="Search">
                </form>

                <form action="/api/artwork" method="get" id="artworksearch" class="tate-form" autocomplete="off" value="Search">
                    <h2>Artwork search</h2>
                    <div>
                        <p>Enter ID or leave it blank for random artworks</p>
                    </div>
                    <label for="artwork-name">Artwork ID </label><input type="text" id="artwork-id" name="id">
                    <!-- <label for="artist-gender">Gender </label><input type="gender" id="artist-gender" name="gender"> -->
                    <div></div> <input type="submit" id="artworksubmit" value="Search">
                </form>

                <div id="results-artists">
                </div>
                <div id="results-artwork">
                    <% for(var i=0; i < data.length; i++) { %>
                        <div class="artwork">

                            <a href="<%= data[i].url %>" target="_blank">
                                <img src="<%= data[i].thumbnailUrl || '../static/img/missing.png' %>" alt="" />
                            </a>
                            <div class="card-content">
                                <h3>
                                    <%= data[i].title %>
                                </h3>
                                <h4>
                                    <%= data[i].artist %>,
                                        <%= data[i].dateText %>
                                </h4>
                            </div>
                            <div class="buy">
                                <form action="/api/cart/<%= data[i].id %>" method="post">
                                    <input type="submit" value="Add to cart" name="id">
                                </form>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>

        </div>
        <%- include('partials/footer') %>
            <!-- <footer>
        <p>Isaac Sanchez,2017</p>
    </footer> -->

</body>

</html>